<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Recipe Book</a>
        </div>
        <button class="navbar-toggler" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav nav-pills">
                <li class="nav-tabs">
                    <a class="nav-link" 
                        routerLink="/recipes" 
                        routerLinkActive="active">Recipes</a>
                </li>
                <li class="nav-tabs">
                    <a class="nav-link" 
                        routerLink="/shopping-list" 
                        routerLinkActive="active"
                        >Shopping List</a>
                </li>
                <li class="nav-tabs">        
                    <a  class="nav-link" 
                        routerLink="/customers" 
                        routerLinkActive="active">Customers</a>
                </li>
                <li class="nav-tabs">        
                    <a  class="nav-link" 
                        routerLink="/login" 
                        routerLinkActive="active">Authenticate</a>
                </li> 
            </ul>
            <!-- <app-cust></app-cust> --> 
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown #r="appDropdown">
                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" style="cursor: pointer">Manage <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu" [ngClass]="{'show': r.isOpen}">
                        <li><a class="dropdown-item" style="cursor: pointer;">Save Data</a></li>
                        <li><a class="dropdown-item" style="cursor: pointer;">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>