<div class="card">
    <div class="card-title">
        <h3 class="header">Login Form</h3>
    </div>
    <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="submit()">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" class="form-control"
                formControlName="name">
                <div *ngIf="loginForm.get('name').touched && loginForm.get('name').invalid">
                    <span *ngIf="loginForm.get('name').errors.forbidden" class="alert alert-danger">This name is forbidden</span>
                    <span *ngIf="loginForm.get('name').errors.required" class="alert alert-danger">Name is required</span>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="text" id="password" class="form-control"
                formControlName="password">
            </div>
            <p>{{message}}</p>
            <button class="btn btn-primary" [disabled]="!loginForm.valid" type="submit">Submit</button>
            &nbsp;
            <button class="btn btn-primary" *ngIf="!loginService.isLoggedIn"
             type="button"
             (click)="login()">Login</button>&nbsp;
            <button class="btn btn-secondary" *ngIf="loginService.isLoggedIn" type="button"
            (click)="logout()">Logout</button>
        </form>
    </div>
    <!-- <ng-content select="[button, input, label]"></ng-content> -->
</div>

<div class="row">
    <div class="col-xl-12" *appUnless="isSubmitted">
        <h3>You submitted the following details:</h3>
        <p appHighlight [defaultColor]="'blue'">Customer Name: {{ loginForm.get("name").value }}</p>
        <p>Password: {{ loginForm.get("password").value }}</p>
    </div>
</div>
