<div class="row">
    <div class="col-xl-12">
        <button class="btn btn-success" routerLink="/recipes/new">New Recipe</button>
    </div>
</div>
<hr>
<div class="row"  *ngIf="!recipeService.isLoading">
    <div class="col-xl-12" *ngFor="let recipeItem of recipeService.recipes; let i = index">
        <app-recipe-item [recipe]="recipeItem" [index]= "i"
        ></app-recipe-item>
    </div>
    
    <div class="col-xl-12" *ngIf="recipeService.recipes?.length === 0" 
        style="text-align: center;"><h2>Add New Recipes</h2></div>
</div>
<div class="row" *ngIf="recipeService.isLoading" style="text-align: center">
    <div class="text-center">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
</div>